/*
 * @Author: xiaoyown 
 * @Date: 2021-08-30 00:01:12 
 * @Last Modified by:   xiaoyown 
 * @Last Modified time: 2021-08-30 00:01:12 
 */
.datasource-editor {
  .method-input-opt {
    display: inline-block;
    height: 14px;
    line-height: 14px;

    &:not(:last-child) {
      padding-right: 12px;
      border-right: 1px solid #1890ff;
    }
    &:not(:first-child) {
      padding-left: 12px;
    }
  }

  .method-input-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
